extends layout.pug
include mixins/article-renderer

block content
	.container: .row
		.col-sm-8.col-md-9
			ul.pager: li.previous: a(href=myUtils.generateURL(BLOG_PATHS.blog)) &lt; Back to the articles list
			//- hr
			if !data.article
				h2 Article not found.
			else
				+renderArticle(false, data.article)
			ul.pager: li.previous: a(href=myUtils.generateURL(BLOG_PATHS.blog)) &lt; Back to the articles list
		.col-sm-4.col-md-3
			include includes/side-panels
